apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      imagePullSecrets:
      - name: nexus-creds
      containers:
      - name: node-app
        # Harness will replace this using the values.yaml mapping we set up
        #image: 34.21.44.52:8083/node-app-repo:{{.Values.image_tag}}
        #image: 34.21.44.52:80/node-app-repo:{{.Values.image_tag}}
        #image: localhost:8080/node-app-repo:{{.Values.image_tag}}
        #image: 34.21.37.97:8082/node-app-repo:{{.Values.image_tag}}
        #image: localhost:8080/node-app-repo:{{.Values.image_tag}}
        image: 34.21.37.97:8082/node-app-repo:{{.Values.image_tag}}
        ports:
        - containerPort: 3000
