apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        # Harness will replace this with the exact image from Nexus
        #image: <+artifact.image>
        #image: 34.21.44.52:8082/node-app-repo:${image_tag}
        #image: 34.21.44.52:8082/node-app-repo:<+serviceVariables.image_tag>
        image: 34.21.44.52:8082/node-app-repo:{{ .Values.image_tag }}
        #image: 34.21.44.52:8082/node-app-repo:<+image_tag>
        ports:
        - containerPort: 3000
